body {
    background-color: #080F28;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0px;
    margin: 0px;

}
.container {
    display: grid; 
    grid-template-columns: 0.5fr 1.5fr; 
    grid-template-rows: 0.25fr 0.1fr 1.9fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "header header"
      "aside title"
      "aside movies"; 
}
.header {
    grid-area: header;
    position: fixed;
    z-index: 9999999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    height: 60px;
    width: 100%;
    background-color: #141A32;
}
.header__title {
    padding: 0px 0px 0px 20px;
}
.search {
    display: flex;
    align-items: center;
}
.search .search__buttom {
    width: 15px;
    height: 15px;
    background-color: #141A32;
    border: none;
    color: white;
    padding: 5px;
    margin: 5px;
}
.search .search__buttom:hover {
    transition: 2s;
    color: #080fac;
}
.search .search__icon {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 16px;
    height: 16px;
    border: 2px solid;
    border-radius: 100%;
    margin-left: -4px;
    margin-top: -4px
}
.search .search__icon::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    border-radius: 3px;
    width: 2px;
    height: 8px;
    background: currentColor;
    transform: rotate(-45deg);
    top: 10px;
    left: 12px
}
.title {
    position: absolute;
    top: 30px;
    left: 250px;
    width: 70vw;
    grid-area: title;
    padding: 20px;
}
.aside {
    position: absolute;
    top: 30px;
    grid-area: aside;
    margin: 0px 0px 0px 0px;
    padding-top: 50px;
    height: auto;
    width: 250px;
    background-color: #0D132B;
}
.movies-category{
    list-style-type: none;
}
.movies-category__item{
    display: flex;
    width: max-content;
    height: auto;
    padding: 10px;
}
.movies-category__item:hover {
    transition: 1s;
    background-color: #1D2745;
    color: #6FC323;
}
.movies-category__icon,
.movies-category__icon::before {
    display: block;
    border: 2px solid;
}
.movies-category__icon {
    border-right: 0;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    box-sizing: border-box;
    transform: scale(var(--ggs,1));
    position: relative;
    width: 19px;
    height: 14px;
    margin-right: 20px;
    transform: rotate(-120deg);
}
.movies-category__icon::before {
    content: "";
    position: absolute;
    width: 2px;
    height: 2px;
    box-sizing: content-box;
    border-radius: 100px;
    right: 0;
    top: 2px
}
.movies-category__icon::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid;
    border-right: 2px solid;
    border-bottom-right-radius: 4px;
    transform: rotate(-45deg);
    top: 0;
    right: -5px
}
.movies {
    position: absolute;
    top: 100px;
    left: 250px;
    grid-area: movies;
    margin: 0px 0px 0px 0px;
    height: auto;
    width: 80vw;
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr;
}
.movies__title-genre {
    width: 100%;
    height: 30px;
    background-color: aliceblue;
}
.movies .movies__item { 
    margin: 10px;
    padding: 10px;
    font-size: 18px;
    text-align: center;
    width: 220px;
    height: 300px;
    display: flex;
    flex-direction: column;
}
.movies__item:hover > .movies__title {
    transition: 0.5s;
    color: #080fac;
}
.movies__item:hover > .movies__poster > .movies__img {
    transition: 0.5s;
    filter: brightness(0.4);
}
.movies__item:hover > .movies__poster > .movies__icon-play {
    visibility: visible;
    transition: 0.5s;
    animation: size-big 0.5s;
}
.movies .movies__poster {
    height: 240px;
    text-decoration: none;
    color: white;
    display: inline-block;
    text-align: center;
}
.movies .movies__img { 
    width: 80%;
    height: 250px;
    border-radius: 10px;
}
.movies .movies__icon-play {
    visibility: hidden;
    position: absolute;
    bottom: 170px;
    left: 75px;
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 70px;
    height: 70px;
    border: 5px solid;
    border-radius: 70px
}
.movies .movies__icon-play::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 0;
    height: 10px;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-left: 45px solid;
    top: 4px;
    left: 14px
}
.movie {
    grid-area: movies;
    position: absolute;
    top: 0px;
    left: 250px;
    padding: 10px;
    height: 100vh;
    width: 79vw;
    display: flex;
    justify-items: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.movie__poster {
    width: 250px;
}
.movie__poster .movie__img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.movie__item {
    width: auto;
    padding: 10px;
    background: rgba(22, 22, 22, 0.596);
}
.movie__data {
    padding: 10px;
}
.movie__buttom{
    padding: 10px;
    width: 100px;
    height: 40px;
    background-color: white;
    border: none;
    color: black;
    margin-right: 10px;
}
.movie__buttom:hover{
    transition: 1s;
    background-color: grey;
}
@keyframes size-big {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(50px);
    }
}