  /*1. Change the text color to blue for all the divs with class bar that are direct childs of .foo*/
.foo > .bar{
    color: blue;
}
  /*2. Change the text color to red for all the divs with class bar that are placed immediatly after a span with class another-class*/
span[class~=another-class] + .bar{
    color: red;
}
  /*3. Change the text color to green to all the spans with class another-class that are preceded by a div with class bar*/
div[class~=bar]  ~ span[class~=another-class] {
    color: green;
}
  /*4. Change the text color to yellow to all the divs that has an id that contains the word some*/
div[id*="some"] {
  color: yellow;
}