.not-visible {
    display: none;
}
  /*1. change the color of all the tags to gray*/
* {
  color: gray;
}
  /*2. Make paragraph2 bold*/
.paragraph:nth-child(2) {
  font-weight: bold;
}
  /*3. Change the background color to blue for all the odd list items and green for the evens*/
ul li:nth-child(odd) {
  background-color: blue;
}
ul li:nth-child(even) {
  background-color: green;
}
  /* 4. display the default value of not visible class when you hover over visible */
.visible:hover ~ .not-visible {
  display: flex;
}
  /* 5. Display the word "After" in bold after each list item*/
ul li::after {
  content: "After";
  font-weight: bold;
}
  /*6. change the color of all the tags to purple (except for all that have the class bar)*/
*:not(.bar) {
    color: purple;
}