body{
}
.container-tooltip {
    margin-top: 50px;
    margin-left: 200px;
}
.tooltip {
    position: relative; 
    display: inline-block;
}
/**TOP**/
.tooltip .tooltiptext-top { 
    visibility: hidden;
    width: 100px;
    background-color: darkslategray;
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 10px;

    margin-left: -50px;

    position: absolute;
    z-index: 1;
    width: 100px;
    bottom: 100%;
    left: 50%;
} 

.tooltip:hover .tooltiptext-top { 
    visibility: visible;
}

.tooltip .tooltiptext-top::after {
    content: " ";
    border-style: solid;
    border-color: darkslategray transparent transparent transparent;
    border-width: 5px;
    margin-left: -5px;

    position: absolute;
    top: 100%; 
    left: 50%;
}

/**BOTTOM**/
.tooltip .tooltiptext-bottom {
    visibility: hidden;
    width: 100px;
    background-color: darkslategray;
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 10px;

    margin-left: -50px;

    position: absolute;
    z-index: 1;
    width: 100px;
    bottom: -50px;
    left: 50%;
} 

.tooltip:hover .tooltiptext-bottom {
    visibility: visible;
}

.tooltip .tooltiptext-bottom::after {
    content: " ";
    border-style: solid;
    border-color: transparent transparent darkslategray transparent;
    border-width: 10px;
    margin-left: -10px; 

    position: absolute;
    bottom: 100%;
    left: 50%;
}

/**RIGHT**/

.tooltip .tooltiptext-right {
    visibility: hidden;
    width: 100px;
    background-color: darkslategray;
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 10px;

    position: absolute;
    z-index: 1;
    top: -10px;
    left: 110%; 
}
   
.tooltip:hover .tooltiptext-right {
    visibility: visible;
}
   
.tooltip .tooltiptext-right::after {
    content: " ";
    border-style: solid;
    border-color: transparent darkslategray transparent transparent;
    border-width: 10px;
    margin-top: -10px;

    position: absolute;
    top: 50%;
    right: 100%; 
}

/**LEFT**/
.tooltip .tooltiptext-left { 
    visibility: hidden;
    width: 100px;
    background-color: darkslategray;
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 10px; 

    position: absolute;
    z-index: 1;
    top: -10px;
    right: 110%; 
} 
   
.tooltip:hover .tooltiptext-left { 
    visibility: visible;
}
   
.tooltip .tooltiptext-left::after {
    content: " ";
    border-style: solid;
    border-color: transparent transparent transparent darkslategray;
    border-width: 10px;
    margin-top: -10px;

    position: absolute;
    top: 50%;
    left: 100%; 
}