body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    animation: background-city 50s infinite;
}
.text-loading {
    margin-top: -170px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: medium;
    font-weight: bold;
    color: white;
    text-align: center;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container-car {
    margin-top: 190px;
    height: max-content;
    width: max-content;
}
.container-car img {
  animation: jump 0.2s ease-in-out infinite;
}
@keyframes jump {
    0% {
      transform: translate(0, 0);
    }
    10% {
      transform: translate(0, -2px);
    }
}

.container-circle {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: max-content;
    width: 100px;
    margin-top: -19px;
    animation: spin 0.5s infinite;
}
.container-circle .circle {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 3px solid white;
    background-color: white;
}
.container-line-ground {
    height: 200px;
    width: 200px;
    margin-top: -12px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: -360px;
}
.line-ground {
    height: 5px;
    background: white;
    margin: 10px;
    border-radius: 20px;
    animation: run-road 2s linear infinite;
}
.line-ground:nth-child(1) {
    width: 10px;
    animation-delay: 0s;
}
.line-ground:nth-child(2) {
    width: 20px;
    margin-top: -15px;
    animation-delay: 0.2s;
}
.line-ground:nth-child(3) {
    width: 30px;
    margin-top: -15px;
    animation-delay: 0.5s;
}
.line-ground:nth-child(4) {
    width: 20px;
    margin-top: -15px;
    animation-delay: 0.7s;
}
.line-ground:nth-child(5) {
    width: 10px;
    margin-top: -15px;
    animation-delay: 0.8s;
}
.line-ground:nth-child(6) {
    width: 20px;
    margin-top: -15px;
    animation-delay: 1.0s;
}
.line-ground:nth-child(7) {
    width: 20px;
    margin-top: -15px;
    animation-delay: 1.2s;
}
.line-ground:nth-child(8) {
    width: 30px;
    margin-top: -15px;
    animation-delay: 1.5s;
}
.line-ground:nth-child(9) {
    width: 20px;
    margin-top: -15px;
    animation-delay: 1.7s;
}
.line-ground:nth-child(10) {
    width: 10px;
    margin-top: -15px;
    animation-delay: 1.8s;
}
.line-ground:nth-child(11) {
    width: 20px;
    margin-top: -15px;
    animation-delay: 2.0s;
}
@keyframes run-road {
    0% {
      transform: translateX(200px);
      opacity: 0;
    }
  
    20% {
        transform: translateX(180px);
        opacity: 80;
    }

    50% {
        transform: translateX(100px);
        opacity: 100;
    }

    80% {
        transform: translateX(20px);
        opacity: 80;
    }

    100% {
      transform: translateX(0px);
      opacity: 0;
    }
}
@keyframes background-city {
    0% {
        background-color: rgb(93, 173, 226 );
    }

    30% {
        background-color: rgb(236, 112, 99 );
    }

    60% {
        background-color: rgb(31, 81, 114);
    }

    100% {
        background-color: rgb(93, 173, 226 );
    }
}