.container {
    width: 300px;
    padding: 10px;
}

.line-one {
    width: 300px;
    display: flex;
}

.parallelogram-inverse {
    width: 50px; 
    height: 43px; 
    border: 1px solid black; 
    background: #428bca;
    -webkit-transform: skew(-30deg);
    -moz-transform: skew(-30deg);
    -ms-transform: skew(-30deg);
    -o-transform: skew(-30deg);
    transform: skew(-30deg);
    margin-left: 2px;
    margin-right: -1px;
}

.parallelogram {
    width: 50px; 
    height: 43px; 
    border: 1px solid black; 
    background: #428bca;
    padding: 0px;
    -webkit-transform: skew(30deg);
    -moz-transform: skew(30deg);
    -ms-transform: skew(30deg);
    -o-transform: skew(30deg);
    transform: skew(30deg);
}
.trapeze {
    width: 50px;
    height: 0px;
    border-right: 25px solid transparent;
    border-left: 25px solid transparent;
    border-bottom: 45px solid yellow;
}

.trapeze-top {
    width: 50px;
    height: 0px;
    border-right: 25px solid transparent;
    border-left: 25px solid transparent;
    border-top: 45px solid yellow;
}

.line-one .trapeze {
    margin-left: -11px;
    margin-right: -12px;
}

.line-one .parallelogram {
    margin-left: 0px;
}

.line-two {
    width: 350px;
}

.line-two .trapeze-top {
    margin-left: 41px;
}

.rhomboid {
    float: right;
    width: 35px; 
    height: 35px; 
    border: 1px solid black; 
    background: orange;
    -webkit-transform: rotate(70deg) skew(30deg, 30deg);
    -moz-transform: rotate(70deg) skew(15deg, 15deg);
    -ms-transform: rotate(70deg) skew(15deg, 15deg);
    -o-transform: rotate(70deg) skew(15deg, 15deg);
    transform: rotate(70deg) skew(30deg, 30deg);
    margin-left: -50px;
    margin-right: 50px;
    margin-top: -55px;
}

.line-three{
    display: flex;
    margin-left: 40px;
    margin-top: 0px;
}

.line-three .trapeze-top {
    border-top: 45px solid red;
    margin-left: -25px;
    margin-right: -25px;
}

.line-four{
    display: flex;
    margin-left: 40px;
    margin-top: 0px;
}

.line-four .trapeze {
    border-bottom: 45px solid red;
    margin-left: -25px;
    margin-right: -25px;
}

.line-five{
    display: flex;
    margin-left: 40px;
}

.triangle {
    width: 0; 
    height: 0; 
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 50px solid green;
    margin-left: 50px;
}