
.silly-list::first-letter {
    color: red;
}

.silly-list li:not(li:last-child) {
    padding: 13px;
}

.silly-list li {
    background-color: blue;
    width: max-content;
    height: min-content;
}

li:nth-child(3n) {
    list-style-type: square;
}

li:nth-child(5) {
    color: orange;
}

.silly-list li:nth-child(6):hover ~ li:nth-child(7) {
    background-color: aquamarine;
}