@import "./theme.scss";
.spindle {
  position: relative;
  right: 150px;
  bottom: 583px;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation:spindle-movement 350ms linear infinite;
}
.spindle__stick {
  width: 10px;
  height: 150px;
  border-radius: 50%;
  background-color: $wood-color;
}
.spindle__spinning {
  position: relative;
  bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60px;
}
.spindle__spinning__line {
  display: flex;
  height: 5px;
  padding: 2px;
  border-radius: 15%;
  background-color:  $wool-color;
  &[class~=spindle__spinning__line--wood] {
      background-color: $wood-color;
  }
}
.spindle__spinning__line:nth-child(1) {
  width: 30px;
}
.spindle__spinning__line:nth-child(2) {
  width: 10px;
}
.spindle__spinning__line:nth-child(3) {
  width: 15px;
}
.spindle__spinning__line:nth-child(4) {
  width: 20px;
}
.spindle__spinning__line:nth-child(5) {
  width: 25px;
}
.spindle__spinning__line:nth-child(6) {
  width: 30px;
}
.spindle__spinning__line:nth-child(7) {
  width: 35px;
}
.spindle__spinning__line:nth-child(8) {
  width: 40px;
}
.spindle__spinning__line:nth-child(9) {
  width: 60px;
}
.spindle__spinning__line:nth-child(10) {
  width: 10px;
}
.horizontal-twist {
  width: 100%;
  height: 5px;
  opacity:0.8;
  &[class~=horizontal-twist--wool]{
    background: linear-gradient(
      to right,
      $wool-color,
      $wool-color 50%,
      lighten($wool-color, 15%) 50%,
      lighten($wool-color, 15%)
    );
    background-size: 20px 100%;
    animation:spinning-movement 170ms linear infinite;
  }
  &[class~=horizontal-twist--wood]{
    background: linear-gradient(
      to right,
      $wood-color,
      $wood-color 50%,
      lighten($wood-color, 15%) 50%,
      lighten($wood-color, 15%)
    );
    background-size: 20px 100%;
    animation:spinning-movement-wood 160ms linear infinite;
  }
}
