@import "./theme.scss";
.person {
    width: 250px;
    height: 500px;
    position: relative;
    bottom: 300px;
    margin: 0;
}  
.person__hat {
    width: 200px;
    height: 150px;
    background-color: $person-hat;
    border-radius: 50%;
    animation: move-right 5s linear infinite;
}
.person__head {
    width: 200px;
    height: 160px;  
    .person__hair-back { 
        display: flex;
        justify-content: space-between;
        position: relative;
        bottom: 30px;
        margin-left: 45px;
        width: 110px; 
        animation:move-hair-back 5000ms linear infinite;
        .person__hair-back__braid-left {
            width: 20px;
            height: 50px;
        }
        .person__hair-back__braid-right {
            width: 20px;
            height: 50px;
        }
    }
    .person__face {
        float: right;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        width: 115px;
        height: 115px;
        border-radius: 1000px;
        position: relative;
        bottom: 150px;
        margin: 0px 35px 0px 0px;
        background: linear-gradient(100deg, $person-skin-color 70%, $person-skin-color-shadow 50%);
    }
    .person__eyes {
        position: relative;
        top: 15px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 85px;
        animation: move-down 5s linear infinite;
        
    }
    .person__eye {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: max-content;
        height: 55px;
        
    }
    .person__eyebrown {
        display: inline-block;
        width: 30px;
        height: 10px;
        border-radius: 50%;
        box-shadow: 0px -3px 0px $person-eye-color;
    }
    .person__eyelash {
        display: inline-block;
        width: 25px;
        height: 30px;
        border-radius: 50%;
        box-shadow: 2px -5px 0 $person-eye-color;
        animation: close-eyelash 5s linear infinite;
        &[class~=person__eyelash--right] {
            box-shadow: -2px -5px 0 $person-eye-color;
        }
    }
    .person__irish {
        position: relative;
        bottom: 30px;
        left: 1px;
        width: 17px;
        height: 20px;
        border-radius: 50%;
        background-color: $person-eye-color;
        animation: close-eye-irish 5s linear infinite;
        &[class~=person__irish--right] {
            margin-right: 5px;
        }
    }
    .person__nose {
        position: relative;
        right: 30px;
        width: 10px;
        height: 5px;
        border-radius: 50%;
        background-color: $person-skin-color;
        box-shadow: 1px 1px 1px 1px $person-skin-color-dark;
        animation: move-down 5s linear infinite;
    }
    .person__mouth {
        position: relative;
        bottom: 5px;
        right: 25px;
        width: 30px;
        height: 20px;
        border-radius: 50%;
        box-shadow: 0px 5px 0 $person-mouth-color;
        animation: move-down 5s linear infinite;
    }
    .person__hair-front{}
    .person__bangs {
        display: flex;
        justify-content: space-between;
        width: 140px;
        height: 150px;
        padding: 0px;
        position: relative;
        bottom: 300px;
        left: 35px;
        .person__bang-left {
            width: 80px;
            height: 140px;
            animation: shrink-bang 5s linear infinite;
        }
        .person__bang-right {
            width: 40px;
            height: 110px;
            animation: grow-bang 5s linear infinite;
        }
        .person__bang {
            width: 70%;
            height: 80%;
            background-color: $person-hair-color;
            border: 1px solid $person-hair-color;
            border-radius: 100px 0px 100px 10px;
            transform: rotate(40deg);
            &[class~=person__bang--right]{
                transform: rotate(-45deg) ;
                border-radius: 0px 100px 10px 100px;
            }
        }
    }
    .person__strands {
        display: flex;
        justify-content: space-between;
        width: 150px;
        height: 150px;
        padding: 0px;
        position: relative;
        bottom: 390px;
        left: 35px;
        .person__strand-right {
            margin-top: 20px;
            width: 40px;
            height: 50px;
            background-color: $person-hair-color;
            border: 1px solid $person-hair-color;
            border-radius: 0px 0px 40px 60px;
            padding: 0px;
            animation: shrink-strand 5s linear infinite;
        }
        .person__strand-left {
            margin-top: 0px;
            width: 24px;
            height: 50px;
            background-color: $person-hair-color;
            border: 1px solid $person-hair-color;
            border-radius: 0px 0px 60px 0px;
            padding: 0px;
            animation: grow-strand 5s linear infinite;
        }
    }
}
.person__braid__component {
    width: 20px;
    height: 20px;
    border-radius: 50px;
    background-color: $person-hair-color;
}
.person__neck {
    height: 15px;
    width: 10px;
    position: relative;
    left: 102px;
    background-color: $person-skin-color;
}
.person__trunck {
    position: relative;
    bottom: 140px;
    display: inline-block;
    width: 220px;
    height: 100px;
}
.person__chest {
    position: relative;
    bottom: 125px;
    left: 72px;
    width: 70px;
    height: 100px;
    border-radius: 20px 20px 40px 40px;
    background: linear-gradient(90deg, $person-dress-color 55%, $person-dress-light-color 50%);
}
.person__upper-extremity-right {
    display: flex;
    flex-direction: column;
    width: max-content;
    height: 130px;
    margin-left: 15px;
    position: relative;
    top: 10px;
    .person__arm-right {
        margin-left: 13px;
        width: 0;
        height: 0;
        border-bottom: 70px solid $person-dress-color;
        border-right: 15px solid $person-dress-color;
        border-left: 30px solid transparent;
        transform: skew(-20deg);
    }
    .person__elbow-right {
        position: relative;
        bottom: 1px;
        width: 46px;
        height: 40px;
        border-radius: 0px 0px 50px 20px;
        background-color: $person-dress-color;
    }
    .person__hand-right {
        position: relative;
        bottom: 25px;
        left: 3px;
        width: 45px;
        height: 30px;
        border-radius: 50%;
        background: $person-skin-color;
        transform: rotate(-30deg);
        z-index:99999;
    }
}
.person__upper-extremity-left {
    position: relative;
    bottom: 230px;
    left: 130px;
    transform-origin: top left;
    animation: upper-extremity-left-move 300ms linear infinite alternate;
    .person__arm-left {
        width: 25px;
        height: 110px;
        margin-left: 10px;
        border-radius: 50px;
        background-color: $person-dress-medium-color;
        transform: rotate(-30deg);
    }
    .person__forearm-left {
        width: 25px;
        height: 70px;
        border-radius: 50px;
        background: linear-gradient(80deg, $person-dress-medium-color 50%, $person-dress-light-color 50%);
    }
    .person__hand-left {
        position: relative;
        bottom: 80px;
        right: 5px;
        width: 35px;
        height: 20px;
        border-radius: 50%;
        background: $person-skin-color;
        transform: rotate(0deg);
        animation: hand-left-move 300ms linear infinite alternate;
    }
    .person__forearm-container {
        width: 20px;
        height: 70px;
        position: relative;
        left: 30px;
        bottom: 8px;
        animation: forearm-left-move 300ms linear infinite alternate;
    }
}
.person__upper-extremity-left:last-child {
    bottom: 378px;
    z-index:99999;
}
.person__cloak {
    position: relative;
    bottom: 345px;
    left: 22px;
    width: 170px;
    height:80px;
    .person__cloak__top {
        margin: 0 auto;
        width: 20px;
        height: 0px;
        border-right: 35px solid transparent;
        border-left: 35px solid transparent;
        border-bottom: 13px solid $person-cloak-color;
    }
    .person__cloak__middle {
        position: relative;
        bottom: 91px;
        left: 40px;
        width: 0px;
        height: 30px;
        border-left: 45px solid $person-cloak-color-shadow;
        border-right: 45px solid $person-cloak-color;
        border-bottom: 35px solid transparent;
    }
    .person__cloak__bottom-right {
        position: relative;
        top: 2px;
        left: 2px;
        width: 0; 
        height: 0; 
        border-left: 45px solid $person-cloak-color-shadow;
        border-top: 45px solid transparent;
        border-bottom: 45px solid transparent; 
        transform: rotate(45deg);
    }
    .person__cloak__bottom-left{
        position: relative;
        bottom: 152px;
        left: 122px;
        width: 0; 
        height: 0; 
        border-left: 45px solid $person-cloak-color;
        border-top: 45px solid transparent;
        border-bottom: 45px solid transparent; 
        transform: rotate(135deg);
    }
    .person__cloak__ornaments {
        position: relative;
        bottom: 221px;
        right: 16px;
        width: 200px;
    }
    .person__cloak__ornament-brooch {
        background: linear-gradient(to right, $person-cloak-ornament-shadow 50%, $person-cloak-ornament 50%);
        width:10px; 
        height:20px;
        border-radius: 50%;  
        position: relative;
        bottom: 35px;
        left: 97px;
    }
    .person__cloak__ornament {
        visibility: hidden;
        opacity:0;
        transition:visibility 0.3s linear,opacity 0.3s cubic-bezier(0,.55,1,.33);
        position: relative;
        bottom: 20px;
        width:45px; 
        height:2px;  
        border:dotted 3px $person-cloak-ornament;
        border-color:transparent transparent $person-cloak-ornament transparent;
        transform: rotate(0deg);
    }
    .person__cloak__ornament:nth-child(2){
        bottom: 15px;
        left: 40px;
        width:60px; 
        height:2px;  
        transform: rotate(-40deg);
    }
    .person__cloak__ornament:nth-child(3){
        bottom: 23px;
        left: 100px;
        width:60px; 
        height:2px;  
        transform: rotate(40deg);
    }
    .person__cloak__ornament:nth-child(4) {
        bottom: 10px;
        left: 155px;
        width:40px; 
        height:2px;  
    }
    .person__cloak__ornament-brooch:hover ~ .person__cloak__ornament {
        visibility: visible;
        opacity: 1;
        transition: 5s cubic-bezier(0,.55,1,.33);
    }
}
.person__skirt-back {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    bottom: 150px;
    right: 20px;
    
    width: 260px;
    height: 160px;
    .person__skirt-back__top {
        width: 115px;
        height: 45px;
        border-radius: 50px 50px 10px 10px;
        background-color: $person-dress-color;
    }
    .person__skirt-back__bottom {
        position: relative;
        bottom: 15px;
        margin-left: 10px;
        width: 115px;
        height: max-content;
        border-bottom: 100px solid $person-dress-color;
        border-right: 100px solid transparent;
        border-left: 100px solid transparent;
        border-radius: 0px 0px 150px 150px;
    }
}
.person__leg-right {
    position: relative;
    bottom: 250px;
    margin-left: 90px;
    height: 160px;
    width: 50px;
    &.person__leg {
        margin-top: 20px;
        width: 10px;
        height: 0px;
        border-right: 20px solid transparent;
        border-left: 20px solid transparent;
        border-top: 130px solid $person-skin-color;
    }
}
.person__leg-left {
    position: relative;
    bottom: 400px;
    margin-left: 128px;
    height: 120px;
    display: flex;
    width: 170px;
        &.person__leg {
        margin-top: 0px;
        width: 10px;
        height: 0px;
        border-right: 20px solid transparent;
        border-left: 20px solid transparent;
        border-top: 120px solid $person-skin-color;
        transform: skew(-25deg,-10deg);
    }
}
.person__skirt-front {
    position: relative;
    bottom: 554px;
    left: 90px;
    display: flex;
    width: 150px;
    .person__skirt-front__part-1 {
        width: 110px;
        height: 80px;
        background-color: $person-dress-color;
        border-radius: 50px 50px 10px 10px;
        transform: rotate(15deg) skew(10deg, -29deg);
        box-shadow: $person-dress-transparent-color 0px 10px 1px 0px;
    }
    .person__skirt-front__part-2 {
        position: relative;
        bottom: 42px;
        right: 40px;
        width: 10px;
        height: 70px;
        background-color: $person-dress-color;
        transform: rotate(-60deg);
    }
}