$person-skin-color: #fc9f6f;
$person-skin-color-shadow: #fa925e;
$person-skin-color-dark: #db7650;
$person-mouth-color: #d9534f;
$person-eye-color: black;
$person-hair-color: black;
$person-hair-light-color: black;
$person-hair-shadow-color: black;
$person-dress-color: black;
$person-dress-light-color: rgb(43, 43, 43);
$person-dress-medium-color: rgb(29, 29, 29);
$person-hat: blanchedalmond;
$person-cloak-color: FireBrick;
$person-cloak-color-shadow: rgb(138, 22, 22);
$person-cloak-ornament: gold;
$person-cloak-ornament-shadow: rgb(204, 177, 23);
$wool-color: blanchedalmond;
$wool-color-shadow: darksalmon;
$wood-color: BurlyWood;
$wood-color-shadow: Sienna;
$sheep-eyes-color: black;
$sheep-body-color: blanchedalmond;
$sheep-skin-color: BurlyWood;
$sheep-skin-color-shadow: rgb(158, 132, 97);
body {
    background-color: darkcyan;
}